# Data Carpentry Reproducible Research Workshop - Data Exploration

#### Authors: Brian Avery, Nima Hejazi, Kellie Ottoboni, Clara Sorensen, Niek Veldhuis

## Things You'll Need to Complete This Tutorial

This lesson uses packages that you've already downloaded along with the Anaconda distribution of Python.

### Download Data

In this lesson, you will use the Gapminder dataset. Please download the data from the web [here](https://raw.githubusercontent.com/Reproducible-Science-Curriculum/data-exploration-RR-Jupyter/gh-pages/data/gapminderDataFiveYear_superDirty.txt) and [here](https://raw.githubusercontent.com/Reproducible-Science-Curriculum/data-exploration-RR-Jupyter/gh-pages/data/PRB_data.txt) from GitHub by right-clicking on the link and selecting "Save Link As..." in the drop down menu.

## Overview

- Teaching: 40 min
- Exercises: 20 min

### Questions

- Why is the Jupyter notebook a useful tool for conducting and sharing data exploration?
- What is "tidy data"?
- What steps does one take to explore data?

### Objectives
Use the Python Pandas library in the Jupyter Notebook to:
* Assess the structure and cleanliness of a dataset, including the size and shape of the data, and the number of variables of each type.
* Describe findings, translate results from code to text using Markdown comments in the Jupyter Notebook, summarizing your thought process in a narrative.
* Modify raw data to prepare a clean data set -- including copying data, removing or replacing missing and incoherent data, dropping columns, removing duplicates.
* Assess whether data is “Tidy” and identify appropriate steps and write and  execute code to arrange it into a tidy format - including merging, reshaping, subsetting, grouping, sorting, and making appropriate new columns.
* Identify several relevant summary measures.
* Illustrate data in plots and determine the need for repeated or further analysis.
* Justify these decisions in Markdown in the Jupyter Notebook.

# Setting up the notebook

## About Libraries in Python

A library in Python contains a set of tools (called functions) that perform tasks on our data. Importing a library is like getting a piece of lab equipment out of a storage locker and setting it up on the bench for use in a project. Once a library is imported, it can be used or called to perform many tasks.

Python doesn’t load all of the libraries available to it by default. We have to add an import statement to our code in order to use library functions. To import a library, we use the syntax `import libraryName`. If we want to give the library a nickname to shorten the command, we can add `as nickNameHere`. An example of importing the Pandas library using the common nickname `pd` is below.

**`import`** `pandas` **`as`** `pd`

## matplotlib and other plotting libraries

matplotlib is the most widely used Python library for plotting.  We can run it in the notebook using the magic command `%matplotlib inline`. If you do not use `%matplotlib inline`, your plots will be generated outside of the notebook and may be difficult to find.  See [the IPython docs](http://ipython.readthedocs.io/en/stable/interactive/plotting.html) for other IPython magics commands.

In this lesson, we will only use matplotlib and Seaborn, another package that works in tandem with matplotlib to make nice graphics.  There is a whole range of graphics packages in Python, ranging from basic visualizations to fancy, interactive graphics like [Bokeh](http://bokeh.pydata.org/en/latest/) and [Plotly](https://plot.ly/python/).  

We encourage you to explore on your own!  Chances are, if you can imagine a plot you'd like to make, somebody else has written a package to do it.

## Markdown
Text can be added to Jupyter Notebooks using Markdown cells. Markdown is a popular markup language that is a superset of HTML. To learn more, see [Jupyter's Markdown guide](http://jupyter-notebook.readthedocs.io/en/latest/examples/Notebook/Working%20With%20Markdown%20Cells.html) or revisit the [Reproducible Research lesson on Markdown](https://github.com/Reproducible-Science-Curriculum/introduction-RR-Jupyter/blob/master/notebooks/Navigating%20the%20notebook%20-%20instructor%20script.ipynb).

## The Pandas Library

One of the best options for working with tabular data in Python is the Python Data Analysis Library (a.k.a. Pandas). The Pandas library is built on top of the NumPy package (another Python library). Pandas provides data structures, produces high quality plots with matplotlib, and integrates nicely with other libraries that use NumPy arrays. Those familiar with spreadsheets should become comfortable with Pandas data structures.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

Each time we call a function that’s in a library, we use the syntax `LibraryName.FunctionName`. Adding the library name with a `.` before the function name tells Python where to find the function. In the example above, we have imported Pandas as `pd`. This means we don’t have to type out `pandas` each time we call a Pandas function.

See this free [Pandas cheat sheet](https://www.datacamp.com/community/blog/python-pandas-cheat-sheet) from DataCamp for the most common Pandas commands. 

# Getting data into the notebook

We will begin by locating and reading our data which are in a table format as a tab-delimited file. We will use Pandas’ `read_table` function to pull the file directly into a `DataFrame`.

## What’s a `DataFrame`?
A `DataFrame` is a 2-dimensional data structure that can store in columns data of different types (including characters, integers, floating point values, factors and more). It is similar to a spreadsheet or a SQL table or data.frame in R. A `DataFrame` always has an index (0-based). An index refers to the position of an element in the data structure.

Note that we use `pd.read_table`, not just `read_table` or `pandas.read_table`, because we imported Pandas as `pd`.

In our original file, the columns in the data set are separated by a TAB. We need to tell the `read_table` function in Pandas that that is the delimiter with `sep = ‘\t’`.

In [2]:
gapminder = pd.read_table("gapminderDataFiveYear_superDirty.txt", sep = "\t")

The first thing to do when loading data into the notebook is to actually "look" at it.  How many rows and columns are there?  What types of variables are in it and what values can they take?

There are usually too many rows to print to the screen.  By default, when you type the name of the `DataFrame` and run a cell, Pandas knows to not print the whole thing.  Instead, you will see the first and last few rows with dots in between.  A neater way to see a preview of the dataset is the `head()` method.  Calling `dataset.head()` will display the first 5 rows of the data.  You can specify how many rows you want to see as an argument, like `dataset.head(10)`.  The `tail()` method does the same with the last rows of the `DataFrame`.

In [4]:
gapminder.head(15)

      year         pop  life Exp    gdpPercap            region
0   1952.0   8425333.0    28.801   779.445314  Asia_Afghanistan
1   1957.0   9240934.0    30.332   820.853030  Asia_Afghanistan
2   1957.0   9240934.0    30.332   820.853030  Asia_Afghanistan
3   1962.0  10267083.0    31.997   853.100710  Asia_Afghanistan
4   1962.0         NaN    31.997          NaN  Asia_Afghanistan
5   1967.0  11537966.0    34.020   836.197138  Asia_Afghanistan
6   1972.0  13079460.0    36.088   739.981106  Asia_Afghanistan
7   1977.0  14880372.0    38.438   786.113360  Asia_Afghanistan
8   1982.0  12881816.0    39.854   978.011439  Asia_Afghanistan
9   1987.0  13867957.0    40.822   852.395945  Asia_Afghanistan
10  1992.0  16317921.0    41.674   649.341395  Asia_Afghanistan
11  1997.0  22227415.0    41.763   635.341351  Asia_Afghanistan
12  2002.0  25268405.0    42.129   726.734055  Asia_Afghanistan
13  2007.0  31889923.0    43.828   974.580338  Asia_Afghanistan
14  1952.0   1282697.0    55.230  1601.056136    Europe_Albania

In [6]:
gapminder.tail(6)

        year         pop  life Exp   gdpPercap           region
1714  1982.0   7636524.0    60.363  788.855041  Africa_Zimbabwe
1715  1987.0   9216418.0    62.351  706.157306  Africa_Zimbabwe
1716  1992.0  10704340.0    60.377  693.420786  Africa_Zimbabwe
1717  1997.0  11404948.0    46.809  792.449960  Africa_Zimbabwe
1718  2002.0  11926563.0    39.989  672.038623  Africa_Zimbabwe
1719  2007.0  12311143.0    43.487  469.709298  Africa_Zimbabwe

In [7]:
gapminder

        year         pop  life Exp   gdpPercap            region
0     1952.0   8425333.0    28.801  779.445314  Asia_Afghanistan
1     1957.0   9240934.0    30.332  820.853030  Asia_Afghanistan
2     1957.0   9240934.0    30.332  820.853030  Asia_Afghanistan
3     1962.0  10267083.0    31.997  853.100710  Asia_Afghanistan
4     1962.0         NaN    31.997         NaN  Asia_Afghanistan
...      ...         ...       ...         ...               ...
1715  1987.0   9216418.0    62.351  706.157306   Africa_Zimbabwe
1716  1992.0  10704340.0    60.377  693.420786   Africa_Zimbabwe
1717  1997.0  11404948.0    46.809  792.449960   Africa_Zimbabwe
1718  2002.0  11926563.0    39.989  672.038623   Africa_Zimbabwe
1719  2007.0  12311143.0    43.487  469.709298   Africa_Zimbabwe

[1720 rows x 5 columns]

Sometimes the table has too many columns to print on screen. Calling `df.columns.values` will print all the column names in an array.

In [8]:
gapminder.columns.values

array(['year', 'pop', 'life Exp', 'gdpPercap', 'region'], dtype=object)

# Assess the structure and cleanliness


## How many rows and columns are in the data?
We often want to know how many rows and columns are in the data -- what is the "shape" of the `DataFrame`. Shape is an attribute of the `DataFrame`. Pandas has a convenient way for getting that information by using `DataFrame.shape`  (using `DataFrame` here as a generic name for your `DataFrame`). This returns a tuple (immutable values separated by commas) representing the dimensions of the `DataFrame` (rows, columns).<p>
To get the shape of the gapminder `DataFrame`:

In [9]:
gapminder.shape

(1720, 5)

We can learn even more about our `DataFrame`. The `info()` method gives a few useful pieces of information, including the shape of the `DataFrame`, the variable type of each column, and the amount of memory stored.

The output from `info()` displayed below shows that the fields ‘year’ and ‘pop’ (population) are represented as ‘float’ (that is: numbers with a decimal point). This is not appropriate: year and population should be integers or whole numbers. We can change the data-type with the function `astype()`. The code for `astype()` is shown below; however, we will change the data types later in this lesson.

In [11]:
#info
gapminder.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1720 entries, 0 to 1719
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   year       1717 non-null   float64
 1   pop        1715 non-null   float64
 2   life Exp   1719 non-null   float64
 3   gdpPercap  1718 non-null   float64
 4   region     1720 non-null   object
dtypes: float64(4), object(1)
memory usage: 67.3+ KB

The `describe()` method will take the numeric columns and provide a summary of their values. This is useful for getting a sense of the ranges of values and seeing if there are any unusual or suspicious numbers.

In [12]:
#describe
gapminder.describe()

              year           pop     life Exp      gdpPercap
count  1717.000000  1.715000e+03  1719.000000    1718.000000
mean   1979.449039  2.954973e+07    59.436493    7208.452200
std      17.228189  1.058366e+08    12.931041    9838.590984
min    1952.000000  6.001100e+04    23.599000     241.165876
25%    1967.000000  2.807799e+06    48.143000    1203.161887
50%    1977.000000  7.026113e+06    60.523000    3529.585686
75%    1992.000000  1.959366e+07    70.840500    9322.285886
max    2007.000000  1.318683e+09    82.603000  113523.132900

The `DataFrame` function `describe()` just blindly looks at all numeric variables. We wouldn't actually want to take the mean year. Additionally, we obtain ‘NaN’ values for our quartiles. This suggests we might have missing data which we can (and will) deal with shortly when we begin to clean our data.

For now, let's pull out only the columns that are truly continuous numbers (i.e. ignore the description for ‘year’). This is a preview of selecting columns from the data; we'll talk more about how to do it later in the lesson.

In [15]:
#describe continuous
gapminder['pop'].describe()

#all continuous columns
gapminder[['pop', 'gdpPercap']].describe()

                pop      gdpPercap
count  1.715000e+03    1718.000000
mean   2.954973e+07    7208.452200
std    1.058366e+08    9838.590984
min    6.001100e+04     241.165876
25%    2.807799e+06    1203.161887
50%    7.026113e+06    3529.585686
75%    1.959366e+07    9322.285886
max    1.318683e+09  113523.132900

We can also extract one specific variable metric at a time if we wish:

In [16]:
#min, max, mean, std, count
print (gapminder['life Exp'].min())
print (gapminder['life Exp'].max())
print (gapminder['life Exp'].mean())
print (gapminder['life Exp'].std())
print (gapminder['life Exp'].count())

23.599
82.603
59.43649312390918
12.93104136969173
1719

#### Values in columns

Next, let's say you want to see all the unique values for the `region` column. One way to do this is:

In [18]:
#unique
gapminder['region'].unique()

array(['Asia_Afghanistan', 'Europe_Albania', 'Africa_Algeria',
       'Africa_Angola', 'Americas_Argentina', 'Oceania_Australia',
       'Europe_Austria', 'Asia_Bahrain', 'Asia_Bangladesh',
       'Europe_Belgium', 'Africa_Benin', 'Americas_Bolivia',
       'Europe_Bosnia and Herzegovina', 'Africa_Botswana',
       'Americas_Brazil', 'Europe_Bulgaria', 'Africa_Burkina Faso',
       'Africa_Burundi', 'Asia_Cambodia', 'Africa_Cameroon', '_Canada',
       'Americas_Canada', 'Africa_Central African Republic',
       'Africa_Central african republic', 'Africa_Chad', 'Americas_Chile',
       'Asia_China', 'Asia_china', 'Americas_Colombia',
       'Americas_Colombia    ', 'Africa_Comoros',
       'Africa_Congo, Dem. Rep.',
       'Africa_Democratic Republic of the Congo',
       'Africa_Congo, Democratic Republic', 'Africa_Congo, Rep.',
       'Americas_Costa Rica', "Africa_Cote d'Ivoire",
       "Africa_Cote d'Ivore", 'Europe_Croatia', 'Americas_Cuba',
       'Europe_Czech Republic', 'Europe_Denmark', 'Africa_Djibouti',
       'Americas_Dominican Republic', 'Americas_Ecuador', 'Africa_Egypt',
       'Americas_El Salvador', 'Africa_Equatorial Guinea',
       'Africa_Eritrea', 'Africa_Ethiopia', 'Europe_Finland',
       'Europe_France', 'Africa_Gabon', 'Africa_Gambia', 'Europe_Germany',
       'Africa_Ghana', 'Europe_Greece', 'Americas_Guatemala',
       'Africa_Guinea', 'Africa_Guinea-Bissau', 'Americas_Haiti',
       'Americas_Honduras', 'Asia_Hong Kong, China', 'Europe_Hungary',
       'Europe_Iceland', 'Asia_India', 'Asia_Indonesia', 'Asia_Iran',
       'Asia_Iraq', 'Europe_Ireland', 'Asia_Israel', 'Europe_Italy',
       'Americas_Jamaica', 'Asia_Japan', 'Asia_Jordan', '    Asia_Jordan',
       'Africa_Kenya', '    Asia_Korea, Dem. Rep.',
       'Asia_Korea, Dem. Rep.', 'Asia_Korea, Rep.', 'Asia_Kuwait',
       'Asia_Lebanon', 'Africa_Lesotho', 'Africa_Liberia', 'Africa_Libya',
       'Africa_Madagascar', 'Africa_Malawi', 'Asia_Malaysia',
       'Africa_Mali', 'Africa_Mauritania', 'Africa_Mauritius',
       'Americas_Mexico', 'Asia_Mongolia', 'Europe_Montenegro',
       'Africa_Morocco', 'Africa_Mozambique', 'Asia_Myanmar',
       'Africa_Namibia', 'Asia_Nepal', 'Europe_Netherlands',
       'Oceania_New Zealand', 'Americas_Nicaragua', 'Africa_Niger',
       'Africa_Nigeria', 'Europe_Norway', 'Asia_Oman', 'Asia_Pakistan',
       'Americas_Panama', 'Americas_Paraguay', 'Americas_Peru',
       'Asia_Philippines', 'Europe_Poland', 'Europe_Portugal',
       'Americas_Puerto Rico', 'Africa_Reunion', 'Europe_Romania',
       'Africa_Rwanda', 'Africa_Sao Tome and Principe',
       'Asia_Saudi Arabia', 'Africa_Senegal', 'Europe_Serbia',
       'Africa_Sierra Leone', 'Asia_Singapore', 'Europe_Slovak Republic',
       'Europe_Slovenia', 'Africa_Somalia', 'Africa_South Africa',
       'Europe_Spain', 'Asia_Sri Lanka', 'Africa_Sudan',
       'Africa_Swaziland', 'Europe_Sweden', 'Europe_Switzerland',
       'Asia_Syria', 'Asia_Taiwan', 'Africa_Tanzania', 'Asia_Thailand',
       'Africa_Togo', 'Americas_Trinidad and Tobago', 'Africa_Tunisia',
       'Europe_Turkey', 'Africa_Uganda', 'Europe_United Kingdom',
       'Americas_United States', 'Americas_Uruguay', 'Americas_Venezuela',
       'Asia_Vietnam', 'Asia_West Bank and Gaza', 'Asia_Yemen, Rep.',
       'Africa_Zambia', 'Africa_Zimbabwe'], dtype=object)

In [ ]:
pd.unique(gapminder,)

This output is useful, but it looks like there may be some formatting issues causing the same region to be counted more than once. Let's take it a step further and find out to be sure. 

As mentioned previously, the command `value_counts()` gives you a first global idea of your categorical data such as strings. In this case that is the column `region`. Run the code below.

In [19]:
# How many unique regions are in the data?
print(len(gapminder['region'].unique()))
# use len

# How many times does each unique region occur?
gapminder['region'].value_counts()
# region counts

151

Europe_Netherlands                         15
Asia_Afghanistan                           14
Americas_Bolivia                           14
Americas_Dominican Republic                14
Americas_Argentina                         13
                                           ..
    Asia_Korea, Dem. Rep.                   2
Africa_Democratic Republic of the Congo     1
Africa_Congo, Democratic Republic           1
Africa_Cote d'Ivore                         1
    Asia_Jordan                             1
Name: region, Length: 151, dtype: int64

The table reveals some problems in our data set. The data set covers 12 years, so each ‘region’ should appear 12 times, but some regions appear more than 12 times and others fewer than 12 times. We also see inconsistencies in the region names (string variables are very susceptible to those), for instance:

Asia_china	vs. Asia_China

Another type of problem we see is the various names of 'Congo'. In order to analyze this dataset appropriately we need to take care of these issues. We will fix them in the next section on data cleaning.

#### Exercises
Are there other columns in our `DataFrame` that have categorical variables? If so, run some code to list the categories below. Save your list to a variable and count the number of unique categories using `len`.

In [26]:
gapminder['year'].unique()

print(len(gapminder['year'].unique()))

13

What is the outcome when you run `value_counts()`?

In [25]:
gapminder['year'].value_counts()

1967.0    146
1977.0    145
1982.0    144
1957.0    143
1962.0    143
1972.0    143
1992.0    143
1952.0    142
1987.0    142
1997.0    142
2002.0    142
2007.0    142
Name: year, dtype: int64

# Data cleaning

## Referencing objects vs copying objects
Before we get started with cleaning our data, let's practice good data hygiene by first creating a copy of our original data set. Often, you want to leave the original data untouched.  To protect your original, you can make a copy of your data (and save it to a new `DataFrame` variable) before operating on the data or a subset of the data.  This will ensure that a new version of the original data is created and your original is preserved.

###### Why this is important
Suppose you take a subset of your `DataFrame` and store it in a new variable, like `gapminder_early = gapminder[gapminder['year'] < 1970]`.  Doing this does not actually create a new object. Instead, you have just given a name to that subset of the original data: `gapminder_early`. This subset still points to the original rows of `gapminder`.  Any changes you make to the new `DataFrame` `gapminder_early` will appear in the corresponding rows of your original `gapminder` `DataFrame` too.

In [28]:
gapminder = pd.read_table("gapminderDataFiveYear_superDirty.txt", sep = "\t")
gapminder_copy = gapminder.copy()
gapminder_copy.head()

gapminder_copy.shape

(1720, 5)

## Handling Missing Data

Missing data (often denoted as 'NaN'- not a number- in Pandas, or as 'null') is an important issue to handle because Pandas cannot compute on rows or columns with missing data. 'NaN' or 'null' does not mean the value at that position is zero, it means that there is no information at that position. Ignoring missing data doesn't make it go away. There are different ways of dealing with it which include:

* analyzing only the available data (i.e. ignore the missing data)
* input the missing data with replacement values and treating these as though they were observed
* input the missing data and account for the fact that these were inputed with uncertainty (ex: create a new boolean variable so you know that these values were not actually observed)
* use statistical models to allow for missing data--make assumptions about their relationships with the available data as necessary

For our purposes with the dirty gapminder data set, we know our missing data is excess (and unnecessary) and we are going to choose to analyze only the available data. To do this, we will simply remove rows with missing values.

This is incredibly easy to do because Pandas allows you to either remove all instances with null data or replace them with a particular value.

`df = df.dropna()` drops rows with any column having NA/null data.  `df = df.fillna(value)` replaces all NA/null data with the argument `value`.

For more fine-grained control of which rows (or columns) to drop, you can use `how` or `thresh`. These are more advanced topics and are not covered in this lesson; you are encouraged to explore them on your own.

In [30]:
# drop na

gapminder_copy = gapminder_copy.dropna()

gapminder_copy.head()

     year         pop  life Exp   gdpPercap            region
0  1952.0   8425333.0    28.801  779.445314  Asia_Afghanistan
1  1957.0   9240934.0    30.332  820.853030  Asia_Afghanistan
2  1957.0   9240934.0    30.332  820.853030  Asia_Afghanistan
3  1962.0  10267083.0    31.997  853.100710  Asia_Afghanistan
5  1967.0  11537966.0    34.020  836.197138  Asia_Afghanistan

## Changing Data Types
We can change the data-type with the function `astype()`. The code for `astype()` is shown below.

In [34]:
#astype()
gapminder_copy['year'] = gapminder_copy['year'].astype(int)
gapminder_copy.info()

gapminder_copy['pop'] = gapminder_copy['pop'].astype(int)
gapminder_copy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1712 entries, 0 to 1719
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   year       1712 non-null   int32
 1   pop        1712 non-null   int32
 2   life Exp   1712 non-null   float64
 3   gdpPercap  1712 non-null   float64
 4   region     1712 non-null   object
dtypes: float64(2), int32(2), object(1)
memory usage: 66.9+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1712 entries, 0 to 1719
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   year       1712 non-null   int32
 1   pop        1712 non-null   int32
 2   life Exp   1712 non-null   float64
 3   gdpPercap  1712 non-null   float64
 4   region     1712 non-null   object
dtypes: float64(2), int32(2), object(1)
memory usage: 66.9+ KB

## Handling (Unwanted) Repetitive Data
You can identify which observations are duplicates.
The call `df.duplicated()` will return boolean values for each row in the `DataFrame` telling you whether or not a row is repeated.

In cases where you don’t want repeated values (we wouldn’t--we only want each country to be represented once for every relevant year), you can easily drop such duplicate rows with the call `df.drop_duplicates()`.

In [35]:
# duplicated() #shows we have a repetition within the first __ rows
gapminder_copy.duplicated()

0       False
1       False
2        True
3       False
5       False
        ...
1715    False
1716    False
1717    False
1718    False
1719    False
Length: 1712, dtype: bool

Let's look at the first five rows of our data set again (remember we removed the NaNs):

In [36]:
# How do we look at the first 5 rows?
gapminder_copy.head()

   year       pop  life Exp   gdpPercap            region
0  1952   8425333    28.801  779.445314  Asia_Afghanistan
1  1957   9240934    30.332  820.853030  Asia_Afghanistan
2  1957   9240934    30.332  820.853030  Asia_Afghanistan
3  1962  10267083    31.997  853.100710  Asia_Afghanistan
5  1967  11537966    34.020  836.197138  Asia_Afghanistan

Our statement from above is correct, rows 1 & 2 are duplicated. Let's fix that:

In [38]:
# df.drop_duplicates()
gapminder_copy = gapminder_copy.drop_duplicates()
gapminder_copy.head()

   year       pop  life Exp   gdpPercap            region
0  1952   8425333    28.801  779.445314  Asia_Afghanistan
1  1957   9240934    30.332  820.853030  Asia_Afghanistan
3  1962  10267083    31.997  853.100710  Asia_Afghanistan
5  1967  11537966    34.020  836.197138  Asia_Afghanistan
6  1972  13079460    36.088  739.981106  Asia_Afghanistan

### Reindexing with `reset_index()`
Now we have 1704 rows, but our indexes are off because we removed duplicate rows. We can reset our indices easily with the call `reset_index(drop=True)`. Remember, Python is 0-indexed so our indices will be valued 0-1703.

The concept of reindexing is important. When we removed some of the messier, unwanted data, we had "gaps" in our index values. By correcting this, we can improve our search functionality and our ability to perform iterative functions on our cleaned data set.

In [41]:
# reset_index(drop=True)
gapminder_copy = gapminder_copy.reset_index(drop=True)
gapminder_copy.head()

   year       pop  life Exp   gdpPercap            region
0  1952   8425333    28.801  779.445314  Asia_Afghanistan
1  1957   9240934    30.332  820.853030  Asia_Afghanistan
2  1962  10267083    31.997  853.100710  Asia_Afghanistan
3  1967  11537966    34.020  836.197138  Asia_Afghanistan
4  1972  13079460    36.088  739.981106  Asia_Afghanistan


## Handling Inconsistent Data

The `region` column is a bit too messy for what we'd like to do.
The `value_counts()` operation above revealed some issues that we can solve with several different techniques.

### String manipulations

Common problems with string variables are leading and trailing white space and upper case vs. lower case in the same data set.

The following three commands remove all such lingering spaces (left and right) and put everything in lowercase. If you prefer, the three commands can be written in one single line (which is a concept called chaining).

In [42]:
gapminder_copy['region'] = gapminder_copy['region'].str.lstrip() # Strip white space on left
gapminder_copy['region'] = gapminder_copy['region'].str.rstrip() # Strip white space on right
gapminder_copy['region'] = gapminder_copy['region'].str.lower() # Convert to lowercase
gapminder_copy['region'].value_counts() # How many times does each unique region occur?

# We could have done this in one line!
# gapminder_copy['region'] = gapminder_copy['region'].str.lstrip().str.rstrip().lower()

asia_afghanistan                           12
africa_reunion                             12
asia_nepal                                 12
europe_netherlands                         12
oceania_new zealand                        12
                                           ..
americas_canada                             9
_canada                                     3
africa_cote d'ivore                         1
africa_congo, democratic republic           1
africa_democratic republic of the congo     1
Name: region, Length: 146, dtype: int64

### regex + `replace()`

A regular expression, a.k.a. regex, is a sequence of characters that define a search pattern. In a regular expression, the symbol “*” matches the preceding character 0 or more times, whereas “+” matches the preceding character 1 or more times. “.” matches any single character. Writing “x|y” means to match either ‘x’ or ‘y’.

For more regex shortcuts (cheatsheet): https://www.shortcutfoo.com/app/dojos/regex/cheatsheet

To play "regex golf," check out this [tutorial by Peter Norvig](https://www.oreilly.com/learning/regex-golf-with-peter-norvig) (you may need an O'Reilly or social media account to play).

Pandas allows you to use `regex` in its `replace()` function -- when a regex term is found in an element, the element is then replaced with the specified replacement term. In order for it to appropriately correct elements, both regex and inplace variables need to be set to `True` (as their defaults are False). This ensures that the initial input string is read as a regular expression and that the elements will be modified in place.

For more documentation on the replace method: http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.replace.html

Here's an incorrect regex example: we create a temporary `DataFrame` in which a regex pulls all values that contain the term “congo”. Unfortunately, this creates 24 instances of the Democratic Republic of the Congo -- this is an error in our cleaning! We can revert back to the non-temporary `DataFrame` and correctly modify our regex to isolate only the Democratic Republic instances (as opposed to including the Republic as well).

In [43]:
# This gives a problem -- 24 values of the congo!
temp = gapminder_copy['region'].replace(".*congo.*", "africa_dem rep congo", regex=True)
temp.value_counts()

africa_dem rep congo    24
asia_afghanistan        12
asia_pakistan           12
oceania_new zealand     12
americas_nicaragua      12
                        ..
africa_zimbabwe         12
africa_cote d'ivoire    11
americas_canada          9
_canada                  3
africa_cote d'ivore      1
Name: region, Length: 143, dtype: int64

In [44]:
# What happened? This shows all the rows that have congo in the name.
gapminder_copy[gapminder_copy["region"].str.contains('congo')]

,year,pop,life Exp,gdpPercap,region
324,1952,14100005,39.143,780.542326,"africa_congo, dem. rep."
325,1957,15577932,40.652,905.860230,"africa_congo, dem. rep."
326,1962,17486434,42.122,896.314634,"africa_congo, dem. rep."
327,1967,19941073,44.056,861.593242,"africa_congo, dem. rep."
328,1972,23007669,45.989,904.896068,africa_democratic republic of the congo
329,1977,26480870,47.804,795.757282,"africa_congo, dem. rep."
330,1982,30646495,47.784,673.747818,"africa_congo, dem. rep."
331,1987,35481645,47.412,672.774812,"africa_congo, dem. rep."
332,1992,41672143,45.548,457.719181,"africa_congo, dem. rep."
333,1997,47798986,42.587,312.188423,"africa_congo, democratic republic"
334,2002,55379852,44.966,241.165876,"africa_congo, dem. rep."
335,2007,64606759,46.462,277.551859,"africa_congo, dem. rep."
336,1952,854885,42.111,2125.621418,"africa_congo, rep."
337,1957,940458,45.053,2315.056572,"africa_congo, rep."
338,1962,1047924,48.435,2464.783157,"africa_congo, rep."
339,1967,1179760,52.040,2677.939642,"africa_congo, rep."
340,1972,1340458,54.907,3213.152683,"africa_congo, rep."
341,1977,1536769,55.625,3259.178978,"africa_congo, rep."
342,1982,1774735,56.695,4879.507522,"africa_congo, rep."
343,1987,2064095,57.470,4201.194937,"africa_congo, rep."
344,1992,2409073,56.433,4016.239529,"africa_congo, rep."
345,1997,2800947,52.962,3484.164376,"africa_congo, rep."
346,2002,3328795,52.970,3484.061970,"africa_congo, rep."
347,2007,3800610,55.322,3632.557798,"africa_congo, rep."

### Using regex to correctly consolidate the Congo regions...

As noted above, regular expressions (often simply "regex") provide a powerful 
tool for fixing errors that arise in strings. In order to correctly label the 
two different countries that include the word "congo", we need to design and
use (via `pd.df.replace()`) a regex that correctly differentiates between the
two countries.

Recall that the "." is the wildcard (matching any single character); combining 
this with "*" allows us to match any number of single characters an unspecified 
number of times. By combining these characters with substrings corresponding to
variations in the naming of the Democratic Republic of the Congo, we can
correctly normalize the name.

If you feel that the use of regex is not particularly straightforward, you are
correct -- appropriately using these tools takes a great deal of time to master.
When designing regex for these sorts of tasks, you might find the following
prototyper helpful: https://regex101.com/

In [47]:
gapminder_copy['region'].replace(".*congo, dem.*", "africa_dem rep congo", regex=True, inplace=True)
gapminder_copy['region'].replace(".*_democratic republic of the congo", "africa_dem rep congo", regex=True, inplace=True)
gapminder_copy['region'].value_counts() # Now it's fixed.

asia_afghanistan            12
asia_pakistan               12
oceania_new zealand         12
americas_nicaragua          12
africa_niger                12
                            ..
africa_eritrea              12
africa_equatorial guinea    12
americas_el salvador        12
africa_egypt                12
africa_zimbabwe             12
Name: region, Length: 142, dtype: int64

In [51]:
gapminder_copy[gapminder_copy["region"].str.contains("africa_cote d'ivoire")]

     year       pop  life Exp    gdpPercap                region
360  1952   2977019    40.477  1388.594732  africa_cote d'ivoire
361  1957   3300000    42.469  1500.895925  africa_cote d'ivoire
362  1962   3832408    44.930  1728.869428  africa_cote d'ivoire
363  1967   4744870    47.350  2052.050473  africa_cote d'ivoire
364  1972   6071696    49.801  2378.201111  africa_cote d'ivoire
365  1977   7459574    52.374  2517.736547  africa_cote d'ivoire
366  1982   9025951    53.983  2602.710169  africa_cote d'ivoire
367  1987  10761098    54.655  2156.956069  africa_cote d'ivoire
368  1992  12772596    52.044  1648.073791  africa_cote d'ivoire
369  1997  14625967    47.991  1786.265407  africa_cote d'ivoire
370  2002  16252726    46.832  1648.800823  africa_cote d'ivoire
371  2007  18013409    48.328  1544.750112  africa_cote d'ivoire

### Exercise (regex):

Now that we've taken a close look at how to properly design and use regex to
clean string entries in our data, let's try to normalize the naming of a few
other countries. Using the pandas code we constructed above as a template,
construct similar code (using `pd.df.replace()`) to set the naming of the Ivory
Coast and Canada to "africa_cote d'ivoire" and "americas_canada", respectively.

In [46]:
gapminder_copy['region'].replace(".*africa_cote d'ivore*", "africa_cote d'ivoire", regex=True, inplace=True)
gapminder_copy['region'].replace(".*_canada", "americas_canada", regex=True, inplace=True)
gapminder_copy['region'].value_counts()# Try this on your own

asia_afghanistan            12
asia_pakistan               12
oceania_new zealand         12
americas_nicaragua          12
africa_niger                12
                            ..
africa_eritrea              12
africa_equatorial guinea    12
americas_el salvador        12
africa_egypt                12
africa_zimbabwe             12
Name: region, Length: 142, dtype: int64

## Tidy data

Having what is called a "_Tidy_ data set" can make cleaning, analyzing, and visualizing your data much easier. You should aim for having Tidy data when cleaning and preparing your data set for analysis. Two of the important aspects of Tidy data are:
* every variable has its own column
* every observation has its own row

(There are other aspects of Tidy data, here is a good blog post about Tidy data in Python: http://www.jeannicholashould.com/tidy-data-in-python.html)

Currently the gapminder dataset has a single column for continent and country (the ‘region’ column). We can split that column into two, by using the underscore that separates continent from country.
We can create a new column in the `DataFrame` by naming it before the = sign:
`gapminder['country'] = `

The following commands use the function `split()` to split the string at the underscore (the first argument), which results in a list of two elements: before and after the \_. The second argument tells `split()` that the split should take place only at the first occurrence of the underscore.

In [59]:
gapminder_copy['country']=gapminder_copy['region'].str.split('_', 1).str[1]
gapminder_copy['continent']=gapminder_copy['region'].str.split('_', 1).str[0]
gapminder_copy.head()

KeyError: 'region'

In [60]:
gapminder_copy.head()

   year       pop  life Exp   gdpPercap      country continent
0  1952   8425333    28.801  779.445314  afghanistan      asia
1  1957   9240934    30.332  820.853030  afghanistan      asia
2  1962  10267083    31.997  853.100710  afghanistan      asia
3  1967  11537966    34.020  836.197138  afghanistan      asia
4  1972  13079460    36.088  739.981106  afghanistan      asia

### Removing and renaming columns

We have now added the columns `country` and `continent`, but we still have the old `region` column as well. In order to remove that column we use the `drop()` command. The first argument of the `drop()` command is the name of the element to be dropped. The second argument is the *axis* number:  
*0 for row, 1 for column*.

In [58]:
# drop()
gapminder_copy = gapminder_copy.drop('region', 1)
gapminder_copy.head()

C:\Users\shayn\AppData\Local\Temp\ipykernel_6932\4105275004.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  gapminder_copy = gapminder_copy.drop('region', 1)

KeyError: "['region'] not found in axis"

Finally, it is a good idea to look critically at your column names. Use lowercase for all column names to avoid confusing `gdppercap` with `gdpPercap` or `GDPpercap`. Avoid spaces in column names to simplify manipulating your data - look out for lingering white space at the beginning or end of your column names. The following code turns all column names to lowercase.

In [90]:
# str.lower()
gapminder_copy.columns = gapminder_copy.columns.str.lower()
gapminder_copy.head()

   year       pop  lifeexp   gdppercap      country continent
0  1952   8425333   28.801  779.445314  afghanistan      asia
1  1957   9240934   30.332  820.853030  afghanistan      asia
2  1962  10267083   31.997  853.100710  afghanistan      asia
3  1967  11537966   34.020  836.197138  afghanistan      asia
4  1972  13079460   36.088  739.981106  afghanistan      asia

In [89]:
gapminder_copy.head()

   year       pop  lifeexp   gdpPercap      country continent
0  1952   8425333   28.801  779.445314  afghanistan      asia
1  1957   9240934   30.332  820.853030  afghanistan      asia
2  1962  10267083   31.997  853.100710  afghanistan      asia
3  1967  11537966   34.020  836.197138  afghanistan      asia
4  1972  13079460   36.088  739.981106  afghanistan      asia

We also want to remove the space from the `life exp` column name. We can do that with Pandas `rename` method. It takes a dictionary as its argument, with the old column names as keys and new column names as values.

If you're unfamiliar with dictionaries, they are a very useful data structure in Python.  You can read more about them [here](https://docs.python.org/3/tutorial/datastructures.html#dictionaries).

In [80]:
# rename columns
gapminder_copy = gapminder_copy.rename(columns={'life Exp': 'lifeexp'})
gapminder_copy.head()

   year       pop  lifeexp   gdpPercap      country continent
0  1952   8425333   28.801  779.445314  afghanistan      asia
1  1957   9240934   30.332  820.853030  afghanistan      asia
2  1962  10267083   31.997  853.100710  afghanistan      asia
3  1967  11537966   34.020  836.197138  afghanistan      asia
4  1972  13079460   36.088  739.981106  afghanistan      asia

In [81]:
gapminder_copy.head()

   year       pop  lifeexp   gdpPercap      country continent
0  1952   8425333   28.801  779.445314  afghanistan      asia
1  1957   9240934   30.332  820.853030  afghanistan      asia
2  1962  10267083   31.997  853.100710  afghanistan      asia
3  1967  11537966   34.020  836.197138  afghanistan      asia
4  1972  13079460   36.088  739.981106  afghanistan      asia

## Merging data

Often we have more than one `DataFrame` that contains parts of our data set and we want to put them together. This is known as merging the data.

Our advisor now wants us to add a new country called The People's Republic of Berkeley to the gapminder data set that we have cleaned up. Our goal is to get this new data into the same `DataFrame` in the same format as the gapminder data and, in this case, we want to concatenate (add) it onto the end of the gapminder data.

Concatentating is a simple form of merging, there are many useful (and more complicated) ways to merge data.  If you are interested in more information, the [Pandas Documentation](http://pandas.pydata.org/pandas-docs/stable/merging.html) is useful.

In [63]:
PRB = pd.read_table("PRB_data.txt", sep = "\t")
PRB.head()

   year     pop  lifeExp  gdpPercap                                 region
0  1952  113805    66.75   779.6780  Americas_Peoples Republic of Berkeley
1  1957  114077    67.96   821.2960  Americas_Peoples Republic of Berkeley
2  1962  111268    71.11   857.2354  Americas_Peoples Republic of Berkeley
3  1967  114785    72.03   838.1382  Americas_Peoples Republic of Berkeley
4  1972  116716    72.67   737.1058  Americas_Peoples Republic of Berkeley

In [74]:
## bring in PRB data (no major problems) and make it conform to the gapminder at this point
# clean the data to look like the current gapminder
PRB['country']=PRB['region'].str.split('_', 1).str[1]
PRB['continent']=PRB['region'].str.split('_', 1).str[0]
PRB.head()

PRB = PRB.drop('region', 1)
PRB.head()

KeyError: 'region'

In [76]:
PRB.head()

   year     pop  lifeExp  gdpPercap                       country continent
0  1952  113805    66.75   779.6780  Peoples Republic of Berkeley  Americas
1  1957  114077    67.96   821.2960  Peoples Republic of Berkeley  Americas
2  1962  111268    71.11   857.2354  Peoples Republic of Berkeley  Americas
3  1967  114785    72.03   838.1382  Peoples Republic of Berkeley  Americas
4  1972  116716    72.67   737.1058  Peoples Republic of Berkeley  Americas

In [78]:
PRB = PRB.rename(columns={'lifeExp':'lifeexp'})
PRB.head()

   year     pop  lifeexp  gdpPercap                       country continent
0  1952  113805    66.75   779.6780  Peoples Republic of Berkeley  Americas
1  1957  114077    67.96   821.2960  Peoples Republic of Berkeley  Americas
2  1962  111268    71.11   857.2354  Peoples Republic of Berkeley  Americas
3  1967  114785    72.03   838.1382  Peoples Republic of Berkeley  Americas
4  1972  116716    72.67   737.1058  Peoples Republic of Berkeley  Americas

In [ ]:
# double check that the gapminder is the same

In [ ]:
# combine the data sets with concat

Now that the `DataFrames` have been concatenated, notice that the index is funky. It repeats the numbers 0 - 11 in the `peoples republic of berkeley data`. <p>
#### **Exercise:** fix the index.

In [ ]:
# our code for fixing index

## Subsetting and sorting

There are many ways in which you can manipulate a Pandas `DataFrame` - here we will discuss two approaches: subsetting and sorting.

##### Subsetting
We can subset (or slice) by giving the numbers of the rows you want to see between square brackets.

*REMINDER:* Python uses 0-based indexing. This means that the first element in an object is located at position 0. this is different from other tools like R and Matlab that index elements within objects starting at 1.

In [ ]:
#Select the first 15 rows

In [ ]:
# Use a different way to select the first 15 rows

In [ ]:
#Select the last 10 rows

### Exercise

*What does the negative number (in the third cell) mean?*

Answer:

*What happens when you leave the space before or after the colon empty?*

Answer:

Subsetting can also be done by selecting for a particular column or for a particular value in a column; for instance select the rows that have ‘africa’ in the column ‘continent. Note the double equal sign: single equal signs are used in Python to assign something to a variable. The double equal sign is a comparison: the variable to the left has to be exactly equal to the string to the right.

**There other ways of subsetting that are worth knowing about. Do an independent reading of using .loc/.iloc with `DataFrames`**

In [19]:
#Select for a particular column


#this syntax, calling the column as an attribute, gives you the same output

We can also create a new object that contains the data within the `continent` column

#### Sorting
Sorting may help to further organize and inspect your data. The command `sort_values()` takes a number of arguments; the most important ones are `by` and `ascending.` The following command will sort your `DataFrame` by year, beginning with the most recent.

In [ ]:
#sort_values()

### Exercise

Organize your data set by country, from ‘Afganistan’ to ‘Zimbabwe’.

## Summarize and plot

Summaries (but can’t *say* statistics…)
* Sort data
* Basic summaries


Plots 
* of subsets 
* single variables
* pairs of variables
* Matplotlib syntax (w/ Seaborn for defaults (prettier, package also good for more analysis later...))

Exploring is often iterative - summarize, plot, summarize, plot, etc. - sometimes it branches…

# Summarizing data

Remember that the `info()` method gives a few useful pieces of information, including the shape of the `DataFrame`, the variable type of each column, and the amount of memory stored. We can see many of our changes (continent and country columns instead of region, higher number of rows, etc.) reflected in the output of the `info()` method.

In [ ]:
gapminder_comb.info()

We also saw above that the `describe()` method will take the numeric columns and give a summary of their values. We have to remember that we changed the column names and this time it shouldn't have NaNs.

In [ ]:
gapminder_comb[['pop', 'lifeexp', 'gdppercap']].describe()

### More summaries

What if we just want a single value, like the mean of the population? We can call mean on a single column this way:

What if we want to know the mean population by _continent_? Then we need to use the Pandas `groupby()` method and tell it which column we want to group by.

What if we want to know the median population by continent?

Or the number of entries (rows) per continent?

Sometimes we don't want a whole `DataFrame`. Here is another way to do this that produces a `Series` that tells us number of entries (rows) as opposed to a `DataFrame`.

We can also look at the mean GDP per capita of each country:

What if we wanted a new `DataFrame` that just contained these summaries? This could be a table in a report, for example.

In [ ]:
continent_mean_pop = gapminder_comb[['continent', 'pop']].groupby(by='continent').mean()
continent_mean_pop = continent_mean_pop.rename(columns = {'pop':'meanpop'})
continent_row_ct = gapminder_comb[['continent', 'country']].groupby(by='continent').count()
continent_row_ct = continent_row_ct.rename(columns = {'country':'nrows'})
continent_median_pop = gapminder_comb[['continent', 'pop']].groupby(by='continent').median()
continent_median_pop = continent_median_pop.rename(columns = {'pop':'medianpop'})
gapminder_summs = pd.concat([continent_row_ct,continent_mean_pop,continent_median_pop], axis=1)
gapminder_summs = gapminder_summs.rename(columns = {'y':'year'})
gapminder_summs

## Visualization with `matplotlib`

Recall that [matplotlib](http://matplotlib.org) is Python's main visualization 
library. It provides a range of tools for constructing plots and numerous 
high-level plotting libraries (e.g., [Seaborn](http://seaborn.pydata.org)) are 
built with matplotlib in mind. When we were in the early stages of setting up 
our analysis, we loaded these libraries like so:

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set()

*Consider the above three commands to be essential practice for plotting (as
essential as **`import`** `pandas` **`as`** `pd` is for data munging).*

Now, let's turn to data visualization. In order to get a feel for the properties
of the data set we are working with, data visualization is key. While, we will
focus only on the essentials of how to properly construct plots in univariate
and bivariate settings here, it's worth noting that both matplotlib and Seaborn
support a diversity of plots: [matplotlib 
gallery](http://matplotlib.org/gallery.html), [Seaborn
gallery](http://seaborn.pydata.org/examples/). 


---

### Single variables

* __Histograms__ - provide a quick way of visualizing the distribution of numerical
  data, or the frequencies of observations for categorical variables.

In [ ]:
#import numpy as np

* __Boxplots__ - provide a way of comparing the summary measures (e.g., max, min,
  quartiles) across variables in a data set. Boxplots can be particularly useful with larger data sets.

---

### Pairs of variables

* __Scatterplots__ - visualization of relationships across two variables...

In [ ]:
# scatter plot goes here

plt.scatter(gapminder_copy['gdppercap'], gapminder_copy['lifeexp'])
plt.xlabel('gdppercap')
plt.ylabel('lifeexp')

In [ ]:
# let's try plotting the log of x
plt.scatter(gapminder_copy['gdppercap'], gapminder_copy['lifeexp'])
plt.xscale('log')
plt.xlabel('gdppercap')
plt.ylabel('lifeexp')

In [ ]:
# Try creating a plot on your own

---

### Why use `seaborn`?

As noted above, Seaborn is a high-level plotting library for statistical data 
visualization. In addition to simplifying plotting, it also provides facilities 
for customizing matplotlib plots (accessible via `sns.set()`).

### Saving your plots as image files  
If you'd like to save your plots as an image file, you can run `fig.savefig('my_figure.png')` where `"my_figure"` is the file name.

## Interpret plots and summaries

### Exploration is an iterative process

In this lesson, we've taken the raw data and worked through steps to prepare it for analysis, but we have not yet done any "data analysis".  This part of the data workflow can be thought of as "exploratory data analysis", or EDA.  Many of the steps we've shown are aimed at uncovering interesting or problematic things in the dataset that are not immediately obvious.  We want to stress that when you're doing EDA, it will not necessarily be a linear workflow like what we have shown.  When you plot or summarize your data, you may uncover new issues: for example, we saw this when we made a mistake fixing the naming conventions for the Democratic Republic of Congo.  You might discover outliers, unusually large values, or points that don't make sense in your plots.  Clearly, the work here isn't done: you'll have to investigate these points, decide how to fix any potential problems, document the reasoning for your actions, and check that your fix actually worked.

On the other hand, plots and summaries might reveal interesting questions about your data.  You may return to the cleaning and prepping steps in order to dig deeper into these questions.  You should continuously refine your plots to give the clearest picture of your hypotheses.

### Interesting findings

What's interesting about this data set? What would you like to investigate further?

Answer:

# Putting it all together

On your own or with a partner, using the techniques you've learned in this lesson, explore one or both of the data sets provided in Data Carpentry's Lessons [Introduction to Genomics](https://datacarpentry.org/wrangling-genomics/) and [Python for Ecologists](https://datacarpentry.org/python-ecology-lesson/02-starting-with-data/index.html). We've provided headers to guide you through the process.

* The Wrangling Genomics lesson uses the [Lenski dataset](http://www.ncbi.nlm.nih.gov/sra?term=SRA026813). Background information on this data set can be found on [this page](https://datacarpentry.org/wrangling-genomics/01-background/index.html). Right click and select "Save Link As..." to donwload [Ecoli_metadata_composite.csv](https://raw.githubusercontent.com/datacarpentry/wrangling-genomics/gh-pages/files/Ecoli_metadata_composite.csv).
* The Ecology Lesson uses [surveys.csv](https://ndownloader.figshare.com/files/2292172) from the Portal Teaching data, a subset of the data from [Ernst et al Long-term monitoring and experimental manipulation of a Chihuahuan Desert ecosystem near Portal, Arizona, USA](http://www.esapubs.org/archive/ecol/E090/118/default.htm).

#### Import your data

#### Describe your data set here using *Markdown*
What is the general shape of your `DataFrame`? What are the datatypes? Are there missing values? What questions do you have about your data set and how will you answer those questions?

Answers:

#### Calculate summary statistics for your data set

#### Is this a tidy data set? Why or why not?

#### Create bar, box, and scatter plots of your data set. What insights do these plots provide?

## Key points

* Data exploration involves inspecting, summarizing, and plotting data in various ways.
* Successful data exploration may reveal that the data needs to be modified or cleaned.
* Data exploration is an iterative process.